{% extends "base_generic.html" %}

{% block content %}
    <h1>Websites list</h1>

    {% if website_list %}

      <table class="table">
        <tr>
          <th>
            <a href="{% url 'website-ord' 'title' %}">Title</a>
          </th>
          <th>
            <a href="{% url 'website-ord' 'url' %}">Url</a>
          </th>
          <th>
            <a href="{% url 'website-ord' 'category' %}">Category</a>
          </th>
          <th>
            <a href="{% url 'website-ord' 'date_added' %}">Date added</a>
          </th>
          <th>
            <a href="{% url 'website-ord' 'date_updated' %}">Date updated</a>
          </th>
        </tr>
        {% for website in website_list %}
          <tr>
            <td>
              <a href="{{ website.get_absolute_url }}">{{ website.title }}</a>
            </td>
            <td>
              {{ website.url }}
            </td>
            <td>
              {{ website.category }}
            </td>
            <td>
              {{ website.date_added }}
            </td>
            <td>
              {{ website.date_updated }}
            </td>
          </tr>
        {% endfor %}
      </table>

      <br>
      <p>Filter by category:</p>

      <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Please select</option>
        <option value="{% url 'websites' %}">All</option>
        {% for category in categories %}
        <option value="{% url 'websites-cat' category.name %}">{{category.name}}</option>
        {% endfor %}
      </select>​

      <br><br>

    {% else %}
      <p>There are no websites</p>
    {% endif %}
    <br>
    <a href="{% url 'create-website' %}">Create website</a>
    <br>
    <a href="{% url 'create-webpage' %}">Create webpage</a>
    <br>
    <a href="{% url 'download-websites' %}">Scan websites</a>
{% endblock %}
