{% extends "base_generic.html" %}

{% block content %}
    <h1>Websites list</h1>

    {% if website_list %}
    <ul>

      {% for website in website_list %}
      <li>
        <a href="{{ website.get_absolute_url }}">{{ website.title }}</a>
      </li>
      {% endfor %}
      <br>
      <p>Filter by category:</p>

      <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Please select</option>
        <option value="{% url 'websites' %}">All</option>
        {% for category in categories %}
        <option value="{% url 'websites-cat' category.name %}">{{category.name}}</option>
        {% endfor %}
      </select>​

      <br><br>
      <p>Order by:</p>

      <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Please select</option>
        {% for field in field_names %}
          <option value="{% url 'website-ord' field %}">{{field}}</option>
        {% endfor %}
      </select>

    </ul>
    {% else %}
      <p>There are no websites</p>
    {% endif %}

    <a href="{% url 'create-website' %}">Create website</a>
    <a href="{% url 'create-webpage' %}">Create webpage</a>
{% endblock %}
